table {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: auto;
    padding: 2rem;
    font-family: sans-serif;
    text-align: center;
    height: auto;
    font-weight: 300;
   

}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-content: center;
}
td, th {
    padding: 2rem;
    border-bottom:1px solid gray;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

